.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
!vendor/caj2pdf/libjbig*.so
*.o
*.pdf
.DS_Store
Thumbs.db
*.egg-info/
dist/
build/
.idea/
.vscode/
*.log
*.dll
!vendor/caj2pdf/libjbig*.dll
*.dylib
!vendor/caj2pdf/libjbig*.dylib
*.exp
*.lib
*.obj
*.pdb
*.ilk
